html {
    background-color:black;
}

.options {
    width: 29%;
    height: 100px;
    background-color: turquoise;
    font-size: 32px;
    margin: 15px;
}
#container {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
    
#textarea {
    width: 100%;
    height: 225px;
    font-size: 32px;
    
}
#out2 {
    color: yellow;
    font-size: 32px;
}
#play {
    width: 100%;
    height: 125px;
    font-size: 32px;
    
}

#reset {
    width: 100%;
    height: 70px;
    font-size: 32px;
    
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 210px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-header {
    position: relative;
    bottom: 31px;
    background-color: #004900;
    
    width: 100%;
    color: white;
    margin: auto;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
.modal-content {
    position: relative;
    background-color: #55b8bb;
    margin: auto;
    
    border: 8px solid rgb(22, 14, 14);
    width: 45%;
    height: 40%;
    font-size: 32px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 39px;
    font-weight: bold;
  }


.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }